.back-rec1 { margin-top: 120px;
			
			height: auto; 
			margin-top: 5%;
			background-color: black;
			opacity: 0.85;
			border-radius: 10px;
			padding: 7px;

}









.error { font-size: 14px;
			margin: 20px;
			color: red;

}

